<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.jmixpract/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.jmixpract.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Student.browse" caption="msg://com.company.jmixpract.screen.student/studentBrowse.menu"/>
        <item screen="Event.browse" caption="msg://com.company.jmixpract.screen.event/eventBrowse.menu"/>
        <item screen="Calendar" caption="msg://com.company.jmixpract.screen.calendar/calendar.caption"/>
    </menu>

</menu-config>